   <!DOCTYPE html>
  <html>
    <head>
      <title>Welcome Pierre</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="jumbotron" id="splashPage">
            <h1>Card Game</h1>
                <h2><a href='/vendors'>Play</a></h2>
        </div>
    </body>
  </html>;
